{%extends 'base.html'%}
{%block title %}
Book_ New
{%endblock%}
 {%block content%}
    <form method="post" enctype="multipart/form-data">
<!--        random text & expiretime-->
        {%csrf_token%}
        <label>Title</label>
        <input type="text" name="title" maxlength="100">
        </br>
        <label>Book Desct</label>
        <input type="text" multiple name="decrption" >
        </br>
        <label>Price:</label>
        <input type="number" name="price" >
        </br>
        <input type="file" name="image">
        </br>
            <select name="catagory">
                    {%for cat in catagories%}
                        <option value="{{cat.id}}">{{cat.name}}</option>
                    {%endfor%}
            </select>
        </br>

        <input type="submit" value ='add'>
    </form>

{%endblock%}