{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {%block title%}
            Parent Page
        {%endblock%}
    </title>
     <link rel="stylesheet" href="{%static 'css/style.css' %}">
<!--    <script src="{%static 'js/index.js'%}"></script>-->
</head>
<body>
<table width="100%" hieght="100%" border="1px solid">
    <tr>
        <td colspan="9">
            <h1>Header</h1>
            <img src="{%static 'imgs/image1.png' %}" width="30%" hieght="20%"/>
        </td>
    </tr>
     <tr>
        <td colspan="2">
            <h1>Menu</h1>
            <a href="{%url 'Book_add'%}">New Book</a>
            </br>
            <a href="{%url 'Booklist'%}">Books</a>
            </br>
            <a href="/admin/">Catagory</a>
            </br>
        </td>
         <td colspan="7">
            <h1>content</h1>
             {%block content%}
             content
             {%endblock%}
        </td>
    </tr>

    <tr>
        <td colspan="9">
            <h1>footer</h1>
        </td>
    </tr>

</table>

</body>
</html>
 {%block js%}

{%endblock%}